package pbmsg
import (
	"github.com/golang/protobuf/proto"
	"funygame/pb"
)
{{range .}}
func {{.Type}}(process func(*pb.{{.Type}}) proto.Message) {
	MessageProcessMap[{{.Id}}] = func(message *pb.Message) proto.Message {
		return process(message.Content.(*pb.Message_{{.Name}}).{{.Name}})
	}
}
{{end}}